body {
	background: url(../img/bg7.png);

   text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
	
}
/*img {
	max-width: 200px;
}*/
#head, h3,h1,h2 {
	color: beige;
}
#question {
  margin: 0 auto;
}

ul {
	color: beige;
	font size: 24px;
}
p {
  color: beige;
  font-size: 22px;
}

img {
  max-width: 196px
}
li {
	color: black;
  margin: 0 auto;
}

button {
  background: #d5e6f2;
  background-image: -webkit-linear-gradient(top, #d5e6f2, #4a7894);
  background-image: -moz-linear-gradient(top, #d5e6f2, #4a7894);
  background-image: -ms-linear-gradient(top, #d5e6f2, #4a7894);
  background-image: -o-linear-gradient(top, #d5e6f2, #4a7894);
  background-image: linear-gradient(to bottom, #d5e6f2, #4a7894);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
